body {
    font-family: Arial, sans-serif;
    background-color: #FAF9F6;
}

.navbar-brand img {
    border-radius: 50%;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-top: 20px;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}
.navbar{
	width:100%;
	height:20vh;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Prevents any part of the image from overflowing the container */
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    object-position: center; /* Centers the image in the container */
}